<div class="card column m-6">
    <div class="card-content">
    <p class="title">
        {{ name }}
    </p>
    <p class="subtitle">
        {{ role }}
    </p>
    </div>
    <footer class="card-footer">
    <p class="card-footer-item">
        <span>
        ID: {{ id }} 
        </span>
    </p>
    <p class="card-footer-item">
        <span>
        Email: <a href="" class="has-text-primary">{{ email }} </a>
        </span>
    </p>
    <p class="card-footer-item">
        <span>
            Github: <a href="https://github.com/danielrezz" class="has-text-primary">{{ github }}</a>
        </span>
    </p>
    </footer>
</div>